JianChen/JianChen/Library/AnnotationManager
JianChen/JianChen/Library/AssetImportState
JianChen/JianChen/Library/BuildPlayer.prefs
JianChen/JianChen/Library/BuildSettings.asset
JianChen/JianChen/Library/CrashedAssetImports.txt
JianChen/JianChen/Library/CurrentLayout.dwlt
JianChen/JianChen/Library/EditorInstance.json
JianChen/JianChen/Library/EditorUserBuildSettings.asset
JianChen/JianChen/Library/EditorUserSettings.asset
JianChen/JianChen/Library/InspectorExpandedItems.asset
JianChen/JianChen/Library/LibraryFormatVersion.txt
JianChen/JianChen/Library/MonoManager.asset
JianChen/JianChen/Library/ScriptAssemblies/BuiltinAssemblies.stamp
JianChen/JianChen/Library/ScriptAssemblies/Unity.PackageManagerUI.Editor.dll
JianChen/JianChen/Library/ScriptAssemblies/Unity.PackageManagerUI.Editor.dll.mdb
JianChen/JianChen/Library/ScriptAssemblies/UnityEditor.StandardEvents.dll
JianChen/JianChen/Library/ScriptAssemblies/UnityEditor.StandardEvents.dll.mdb
JianChen/JianChen/Library/ScriptMapper
JianChen/JianChen/Library/ShaderCache.db
JianChen/JianChen/Library/ShaderCache/
JianChen/JianChen/Library/shadercompiler-UnityShaderCompiler.exe0.log
JianChen/JianChen/Packages/manifest.json
JianChen/JianChen/ProjectSettings/AudioManager.asset
JianChen/JianChen/ProjectSettings/ClusterInputManager.asset
JianChen/JianChen/ProjectSettings/DynamicsManager.asset
JianChen/JianChen/ProjectSettings/EditorBuildSettings.asset
JianChen/JianChen/ProjectSettings/EditorSettings.asset
JianChen/JianChen/ProjectSettings/GraphicsSettings.asset
JianChen/JianChen/ProjectSettings/InputManager.asset
JianChen/JianChen/ProjectSettings/NavMeshAreas.asset
JianChen/JianChen/ProjectSettings/NetworkManager.asset
JianChen/JianChen/ProjectSettings/Physics2DSettings.asset
JianChen/JianChen/ProjectSettings/PresetManager.asset
JianChen/JianChen/ProjectSettings/ProjectSettings.asset
JianChen/JianChen/ProjectSettings/ProjectVersion.txt
JianChen/JianChen/ProjectSettings/QualitySettings.asset
JianChen/JianChen/ProjectSettings/TagManager.asset
JianChen/JianChen/ProjectSettings/TimeManager.asset
JianChen/JianChen/ProjectSettings/UnityConnectSettings.asset
JianChen/JianChen/Library/
JianChen/JianChen/Temp/
JianChen/ETFrameWork/

JianChen/JianChen/Assets/Virtual Joystick Pack/
JianChen/JianChen/Assets/Virtual Joystick Pack.meta
JianChen/StoryEditor/
JianChen/JianChen/obj/Debug/
JianChen/JianChen/Assets/StreamingAssets/
JianChen/JianChen/Assets/VoxelImporter/
JianChen/StreamingAssets/AssetBundles/Android/
JianChen/obj/Debug/Assembly-CSharp-Editor.csproj.CoreCompileInputs.cache
JianChen/obj/Debug/Assembly-CSharp-Editor.csprojResolveAssemblyReference.cache
JianChen/obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
JianChen/obj/Debug/Assembly-CSharp.csproj.FileListAbsolute.txt
JianChen/obj/Debug/Assembly-CSharp.csprojResolveAssemblyReference.cache
JianChen/Library/
JianChen/obj/
JianChen/Temp/
AndroidProject/NewSoccer-0.0.1-v1.symbols.zip
AndroidProject/JianChenIl2Cpp-0.0.1-v1.symbols.zip
AndroidProject-0.0.1-v1.symbols.zip
AndroidProject/JianChenIl2Cpp.apk/JianChen/release/
JianChen/Assets/VOXFileLoader/
